.icon {
  /* margin: 10px; */
  width: 80px;
  height: 80px;
  cursor: pointer;
  padding: 20px;
}

/* designe styles */
.neumorphism {
  border-radius: 100px; /* Bordes redondeados para un aspecto suave */
  box-shadow: -5px 5px 10px #bebebe, 5px -5px 10px #ffffff;

  &:hover {
    transform: scale(1.1);
  }
}

.pinkHover {
  &:hover {
    background-color: rgb(255, 230, 234);
  }
}

.neubrutalism {
  color: #ff4910;
  background-color: #7dfaff;
  border: 4px solid black;
  box-shadow: 2px 2px 5px black, 2px 2px 5px black;
  margin: 10px auto;

  &:hover {
    transform: scale(1.1);
  }
}

/* dark */
.matrixHover {
  border-radius: 50%;

  &:hover {
    background-image: url("public/imgs/matrix.webp");
  }
}


@media only screen and (max-width: 450px) {
  .icon {
    width: 50px;
    height: 50px;
  }
}
