.options {
  margin: auto;
}

.options p {
  font-size: 1.1rem;
}

.icon {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
}
/* styles */
.light {
  background: #E4EEFC; /* Color de fondo similar al del contenedor padre */
  border-radius: 10px; /* Bordes redondeados para un aspecto suave */
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  padding: 20px;
}
