.technologiesSection {
  margin-bottom: 50px;
  border: 5px solid whitesmoke;
  padding: 50px 5px;
  width: 60%;

  & h2 {
    text-align: center;
    margin-bottom: 10px;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      margin-top: 40px;
    }
  }

  & img {
    height: 70px;
    width: auto;
    padding: 5px;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  & li {
    border: 0.5px solid transparent;
    margin: 5px 20px;

    & :hover {
      transform: rotate(360deg);
      transition: all 1.6s ease-in-out;
    }
  }
}

@media only screen and (max-width: 450px) {
  .technologiesSection {
    width: 95%;
  }
}
