* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

li {
  list-style: none !important;
}

@font-face {
  font-family: "Roboto-Mono";
  src: local("Roboto_Mono"),
    url(./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf) format("truetype");
}
