.aboutMeDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 50px auto;
  align-items: center;
  justify-content: center;

  & a {
    color: pink;
    cursor: pointer;

    &:hover {
      border: 1px solid whitesmoke;
      padding: 2px;
    }
  }
}

.h2 {
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
}

.aboutMeDiv p {
  line-height: 1.6rem;
}

.technologiesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* media queries */
@media only screen and (max-width: 450px) {
  .aboutMeDiv {
    margin: 0 auto;
    width: 95%;
    padding: 20px;
    height: 100%;
  }

  .h2 {
    font-size: 1.8rem;
  }
}
